{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <div class="row">
        <div id="local-files" class="list-group col-md-6">
        </div>

        <div id="remote-files" class="list-group col-md-offset-0 col-md-6">
        </div>
    </div>

    <div class="row">
    <button type="button" id="upload-btn" class="btn btn-primary col-md-1 col-md-offset-4">Upload</button>
    <button type="button" id="download-btn" class="btn btn-success col-md-1 col-md-offset-1">Download</button>
    <button type="button" id="delete-btn" class="btn btn-danger col-md-1 col-md-offset-1">Delete</button>
    <button type="button" id="sync-btn" class="btn btn-info col-md-1 col-md-offset-1">Sync</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="progressdialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h1 id="progresstext">Synchronizing...</h1>
          <pre id="objname"></pre>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="gpgdialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h2>Please select GPG folder</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="gpg-files" class="list-group"></div>
        </div>
        <div class="row">
          <button type="button" id="ok-btn" class="btn btn-primary col-md-2 col-md-offset-5">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="keydialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h2>Please select your email address</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div id="gpg-keys" class="list-group"></div>
        </div>
        <div class="row">
          <button type="button" id="keyok-btn" class="btn btn-primary col-md-2 col-md-offset-5">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/app.js"></script>
{% endblock %}
