{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    <h1>{{ path }}</h1>
    <div class="row">
        <div id="local-files" class="list-group col-md-6" style="height:100%;overflow:auto;height:90vh;">
        </div>

        <div id="remote-files" class="list-group col-md-offset-0 col-md-6" style="height:100%;overflow:auto;height:90vh;">
        </div>
    </div>

    <div class="row">
    <button type="button" id="upload-btn" class="btn btn-primary col-md-1 col-md-offset-4">Upload</button>
    <button type="button" id="download-btn" class="btn btn-success col-md-1 col-md-offset-1">Download</button>
    <button type="button" id="delete-btn" class="btn btn-danger col-md-1 col-md-offset-1">Delete</button>
    <button type="button" id="sync-btn" class="btn btn-info col-md-1 col-md-offset-1">Sync</button>
    </div>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/app.js"></script>
{% endblock %}
