<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">{{ curr_path }}</h3>
</div>
<div class="panel-body" style="overflow-y:scroll;overflow-x:hidden;height:80vh;padding:0;">

{% for f in filelist %}
<div class="list-group-item" onclick=$(this).toggleClass("active"); fname="{{f[0]}}" fullpath="{{f[1]}}">

{% if f[2]==0 %}
  <span class="glyphicon glyphicon-folder-open"></span>
{% else %}
  <span class="glyphicon glyphicon-file"></span>
{% endif %}

{% if f[3] %}
  <span class="label label-danger">NEW</span>
{% endif %}

{% if f[2]==0 %}
  <span href="#" style="cursor:pointer" onclick=clickdir("{{f[1]}}",{{div}});>
  {{ f[0] }}
  </span>
{% else %}
  {{ f[0] }}
{% endif %}
  <span class='badge'>{{ f[5] }}</span>
  <span class='badge'>{{ f[4] }}</span>

</div>
{% endfor %}

</div>
