<h1>{{ curr_path }}</h1>
{% for f in filelist %}
{% if f[2]==0 %}
    <div class="list-group-item" onclick=$(this).toggleClass("active"); fullpath="{{f[1]}}"><span class="glyphicon glyphicon-folder-open"></span> <span href="#" style="cursor:pointer" onclick=clickdir("{{f[1]}}",{{div}});>{{ f[0] }}</span></div>
{% else %}
    <div class="list-group-item" onclick=$(this).toggleClass("active"); fullpath="{{f[1]}}"><span class="glyphicon glyphicon-file"></span> {{ f[0] }}</div>
{% endif %}
{% endfor %}
